.icon-list span {
    margin: 20px 0;
}

span.icon {
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
span.icon.medium {
    width: 24px;
    height: 24px;
}
span.icon.large {
    width: 36px;
    height: 36px;
}
.icon.mail {
    background-image: url('../pages/assets/images/icons/google-gmail-svgrepo-com.svg');
}
.icon.messenger {
    background-image: url('../pages/assets/images/icons/messanger-svgrepo-com.svg');
}
.icon.menu {
    background-image: url('../pages/assets/images/icons/menu-navigation-grid-1528-svgrepo-com.svg');
}