.icon-list span {
    margin: 20px 0;
}

span.icon {
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
span.icon.medium {
    width: 24px;
    height: 24px;
}
span.icon.large {
    width: 36px;
    height: 36px;
}
.icon.mail {
    background-image: url('../pages/assets/images/icons/google-gmail-svgrepo-com.svg');
}
.icon.messenger {
    background-image: url('../pages/assets/images/icons/messanger-svgrepo-com.svg');
}
.icon.menu {
    background-image: url('../pages/assets/images/icons/menu-navigation-grid-1528-svgrepo-com.svg');
}
.icon.menu.white {
    background-image: url('../pages/assets/images/icons/menu-navigation-grid-1528-svgrepo-com_white.svg');
}
.icon.search {
    background-image: url('../pages/assets/images/icons/search-svgrepo-com.svg');
}
.icon.pencil {
    background-image: url('../pages/assets/images/icons/pencil-svgrepo-com.svg');
}
.icon.box {
    background-image: url('../pages/assets/images/icons/box-svgrepo-com.svg');
}
.icon.box.white {
    background-image: url('../pages/assets/images/icons/box-svgrepo-com_white.svg');
}
.icon.send {
    background-image: url('../pages/assets/images/icons/send-svgrepo-com.svg');
}
.icon.send.white {
    background-image: url('../pages/assets/images/icons/send-svgrepo-com_white.svg');
}
.icon.important {
    background-image: url('../pages/assets/images/icons/directory-important-1649-svgrepo-com.svg');
}
.icon.important.white {
    background-image: url('../pages/assets/images/icons/directory-important-1649-svgrepo-com_white.svg');
}
.icon.document {
    background-image: url('../pages/assets/images/icons/document-svgrepo-com.svg');
}
.icon.spam {
    background-image: url('../pages/assets/images/icons/spam-svgrepo-com.svg');
}
.icon.document.white {
    background-image: url('../pages/assets/images/icons/document-svgrepo-com_white.svg');
}
.icon.spam.white {
    background-image: url('../pages/assets/images/icons/spam-svgrepo-com_white.svg');
}
.icon.star {
    background-image: url('../pages/assets/images/icons/star-svgrepo-com.svg');
}
.icon.star.fill {
    background-image: url('../pages/assets/images/icons/star-svgrepo-com_fill.svg');
}
.icon.clip {
    background-image: url('../pages/assets/images/icons/clip-svgrepo-com.svg');
}