.mail-header-container {
    padding: 10px;
    background: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.mail-header-logo {
    display: inline-flex;
    align-items: center;
    width: 240px;
}
.mail-header-logo span {
    margin: 0 10px;
    color: #fff;
}

.mail-header-search {
    padding: 20px 0;
    line-height: 40px;
    width: 400px;
}

.mail-aside-menu {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    background-color: #000;
    width: 240px;
    z-index: 50;
}
.mail-write-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}